---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Strategy Games Club">

	

	<nav class="relative w-full flex flex-wrap items-center justify-between py-3 bg-gray-900 text-gray-900 hover:text-gray-200 focus:text-gray-100 shadow-lg">
		<div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
		  	<div class="container px-10">
				
				<a class="text-xl text-white font-semibold" href="#">Strategy Games Club</a>
				
				<a class="text-lg text-white font-semibold ml-8 self-center" href="https://forms.gle/snSEPXXTEJwEbuVSA">Sign Up</a>
		  	</div>
		</div>
	</nav>
	
	<main class="relative w-full bg-grey">

		
		
		<section class="">
			<div class="">
				<img src="/GamesClubPhoto.jpg" class="blur-sm" />
			</div>
		</section>

		

		<br>

		<section class="grid place-items-center px-6 w-screen">
			<div class="text-xl text-gradient font-semibold">Sign Up!</div>
			<div class="items-center self-center container mx-auto">
				<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScwz0hW9WCwgI3T9p2QMUFnaZ1Tyfpq2zKCdRUG4eZ0HdTClQ/viewform?embedded=true" width="100%" height="720" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
				<p class="text-xs">If form doesnt load go to <a class="text-sky-600" href="https://forms.gle/snSEPXXTEJwEbuVSA">Google Forms</a></p>
			</div>
		</section>

		<br>

		<div class="h-14 bg-gradient-to-r from-purple-500 to-pink-500"></div>

		<section class="grid place-items-center px-6 w-screen h-14 bg-gradient-to-r from-purple-500 to-pink-500">
			<div class="text-xl font-bold">Join the <a class="text-sky-600" href="https://discord.gg/dUxZcvkYqU">Discord!</a></div>


		</section>

		<footer>
			<div class="h-14 bg-gradient-to-r from-purple-500 to-pink-500 px-6 w-screen">
				<p class="text-xs font-semibold">Source code at <a class="text-sky-600" href="https://github.com/Legonois/StratGamesClub/">GitHub.com</a></p>
				<p class="text-xs font-bold">Copyright Wesley Baldwin, Jaxon Carey</p>
			</div>
			
		</footer>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		
		
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
